::-webkit-file-upload-button {
    display: none;
 }

.container-fluid form{
    margin: 0 auto;
}

.text-black-50.time{
    font-size: 12px;
}


.post-field {
    border: none;
    outline: none;
    resize: none;
    height: 3.5rem;
    width: 100%;
}

.title-field {
    border: none;
    outline: none;
    resize: none;
    height:2rem;
    width: 100%;
}

.btn.btn-dark{
    text-align: center;
    margin-top: 1rem;

  }

.image-field{
    display:none;
}

.img-button{
    height: 3.5rem;
    width: 3.5rem;
    padding:0;
    margin-top: 0.5rem;

}

.img-button img{
    border: 0px
}

.img-preview-added-photo{
    margin-top: 0.5rem;
    height:3rem;
    border-radius: 5px;
}

.user-uploaded-image {
    max-width: 100%;
    max-height: 480px;
    border-radius: 25px;
}

#more{
    display:none;
}

.half-content a, .full-content a{
    text-decoration: none;
    color: rgb(167, 89, 154);
    display:flex;
}

#invalid-feedback{
    color: red;

}

.is-invalid{
border-color: #d6000b;
background-color: #ffe5e7;
}

#text{
    color:white;
}

.errorlist{
list-style: none;
margin: 0.5rem 0;
padding: 0;
color: #d6000b;
}

.font-weight-bold a{
    text-decoration: none;
    color:#0e4e74;
}

.text-center{
    font-size: 2rem;
}



.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    color: #ffffff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.creation-date a{
    text-decoration: none;
    color: #0e4e74;
}

.comment-text{
    font-size: 13px;
}

.see-more a{
    text-decoration: none;
    color:#0e4e74;
}

.form-control{
    border:none;
    border-bottom: solid 0.5px #6c5667;
    resize: none;
}

.list-users a{
text-decoration: none;
}

.list-users li:hover{
background-color: #eeeeee;
box-shadow: 1px 3px 10px black;
}

.followers-col div:hover{
box-shadow: 1px 3px 10px black;
}


.followers-col a{
    text-decoration: none;
    color: black;
}

.infinite-item, .add-post-form{
    box-shadow: 1px 3px 10px rgb(219, 219, 219);
}