{% extends 'base.html' %}
{% load static %}
{% block page_title %}Password Reset{% endblock  %}

{% block page_css_files %}
<link rel="stylesheet" href="{% static "social_network/restart_password.css" %}">
{% endblock  %}

{% block page_content %}
<div class="card mx-md-5 position-absolute top-50 start-50 translate-middle">
      
    <div class="card-body py-5 ">
      <h2 class="fw-bold" style="text-align:center;">Reset Password!</h2>
        <div class="form-password-restart">

            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group m-5">
                    {{form}}
                </fieldset>
                <div class="form-group text-center">
                    <button class="button btn btn-primary" type="submit">Request Password Reset</button>
                </div>
                
            </form>

        </div>
    </div>
</div>


{% endblock  %}