<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">

    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-content">
                            <div class="modal-body">
                                <div class="form-content mb-2">

                                    <form action="{% url 'post-delete-page' pk=post.pk %}" method="POST">
                                        {% csrf_token %}
                                        <p>Are you sure you want to delete: "{{post.title}}" </p>
                                   
                               
                                        <div class="modal-footer">
                                            <button class="btn btn-dark btn-lg">Delete</button>
                                            <button type="button" class="btn btn-dark btn-lg" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>

                                    
                                  </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
