<!-- Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">

    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-content">
                            <div class="modal-body">
                                    <div class="form-content mb-2">
                                        <ul class="list-users list-group list-group-flush text-center">
                                        {% for user in user_profile.user.following.all %}
                                            <a href="{% url 'user-profile' user %}" ><li class="list-group-item text-break"><img class="rounded-circle article-img me-2" src="{{user.profile_img.url}}" width="40" height="40" alt="image"/><p class="fs-6 text-center">{{user}}</p></li></a>
                                        {% endfor %}
                                        </ul>
                                        <hr>
                                        <button type="button" class="btn btn-dark btn-lg float-end" data-bs-dismiss="modal">Close</button>

                                  </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
