.card{
    margin-top: 1rem;
}
a {
    text-decoration: none;
    color:black
}

.btn-link{
    text-decoration: none;
}

.card-footer{
    text-align: center;
}

.text-center{
    margin-top: 1rem;
    font-size: 3.5rem;
}